In [1]:
import sys
sys.path.append("..")

In [2]:
from src.combining_info import *

In [3]:
import pandas as pd

In [13]:
df_acq = get_acquisitions_df()
df_acq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9562 entries, 0 to 9561
Data columns (total 4 columns):
acquisition_id        9562 non-null int64
acquired_object_id    9561 non-null object
price_amount          2601 non-null float64
acquired_at           9533 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 298.9+ KB

In [12]:
df_round = get_funding_rounds_df()
df_round.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52928 entries, 0 to 52927
Data columns (total 7 columns):
funding_round_id      52928 non-null int64
object_id             52928 non-null object
funded_at             52680 non-null datetime64[ns]
funding_round_code    52928 non-null object
raised_amount_usd     46928 non-null float64
participants          52928 non-null int64
is_first_round        52928 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 2.8+ MB

In [6]:
df_fund = get_funds_df()
df_fund.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1564 entries, 0 to 1563
Data columns (total 4 columns):
fund_id      1564 non-null int64
object_id    1564 non-null object
name         1564 non-null object
funded_at    1449 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 49.0+ KB

In [7]:
df_invest = get_investments_df()
df_invest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80902 entries, 0 to 80901
Data columns (total 3 columns):
funding_round_id      80902 non-null int64
funded_object_id      80902 non-null object
investor_object_id    80902 non-null object
dtypes: int64(1), object(2)
memory usage: 1.9+ MB

In [8]:
df_ipo = get_ipos_df()
df_ipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 2 columns):
ipo_id       1259 non-null int64
object_id    1254 non-null object
dtypes: int64(1), object(1)
memory usage: 19.8+ KB

In [9]:
df_mile = get_milestones_df()
df_mile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39456 entries, 0 to 39455
Data columns (total 3 columns):
object_id       39456 non-null object
milestone_at    39456 non-null object
description     39456 non-null object
dtypes: object(3)
memory usage: 924.8+ KB

In [10]:
df_object = get_objects_df()
df_object.info()

/Users/cosmakufa/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2850: DtypeWarning: Columns (3,7,9,10,17,18,21,22,23,25,26,29,30,37) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462651 entries, 0 to 462650
Data columns (total 12 columns):
id                 462651 non-null object
normalized_name    462620 non-null object
category_code      123186 non-null object
status             462651 non-null object
founded_at         100441 non-null object
domain             174942 non-null object
overview           235235 non-null object
tag_list           106496 non-null object
country_code       95043 non-null object
state_code         54760 non-null object
city               90684 non-null object
region             462651 non-null object
dtypes: object(12)
memory usage: 42.4+ MB

In [11]:
df_relate = get_relationships_df()
df_relate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402878 entries, 0 to 402877
Data columns (total 6 columns):
person_object_id          402878 non-null object
relationship_object_id    402878 non-null object
start_at                  206995 non-null datetime64[ns]
end_at                    101046 non-null datetime64[ns]
is_past                   402878 non-null int64
title                     389534 non-null object
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 18.4+ MB