In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline


df = pd.read_csv('../data/cb_objects.csv')

/Users/cosmakufa/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (3,7,9,10,17,18,21,22,23,25,26,29,30,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.head().T

,0,1,2,3,4
id,c:1,c:10,c:100,c:10000,c:10001
entity_type,Company,Company,Company,Company,Company
entity_id,1,10,100,10000,10001
parent_id,NaN,NaN,NaN,NaN,NaN
name,Wetpaint,Flektor,There,MYWEBBO,THE Movie Streamer
normalized_name,wetpaint,flektor,there,mywebbo,the movie streamer
permalink,/company/wetpaint,/company/flektor,/company/there,/company/mywebbo,/company/the-movie-streamer
category_code,web,games_video,games_video,network_hosting,games_video
status,operating,acquired,acquired,operating,operating
founded_at,2005-10-17,NaN,NaN,2008-07-26,2008-07-26
closed_at,NaN,NaN,NaN,NaN,NaN
domain,wetpaint-inc.com,flektor.com,there.com,mywebbo.com,themoviestreamer.com
homepage_url,http://wetpaint-inc.com,http://www.flektor.com,http://www.there.com,http://www.mywebbo.com,http://themoviestreamer.com
twitter_username,BachelrWetpaint,NaN,NaN,NaN,NaN
logo_url,http://s3.amazonaws.com/crunchbase_prod_assets...,http://s3.amazonaws.com/crunchbase_prod_assets...,http://s3.amazonaws.com/crunchbase_prod_assets...,NaN,http://s3.amazonaws.com/crunchbase_prod_assets...
logo_width,401,186,107,NaN,200
logo_height,54,85,34,NaN,74
short_description,NaN,NaN,NaN,NaN,NaN
description,Technology Platform Company,NaN,NaN,NaN,NaN
overview,Wetpaint is a technology platform company that...,Flektor is a rich-media mash-up platform that ...,There.com is an online virtual world where any...,"BRAND NEW ONLINE SOCIAL NETWORKING WEBSITE,FOR...",This company shows free movies online on their...
tag_list,"wiki, seattle, elowitz, media-industry, media-...","flektor, photo, video","virtualworld, there, teens","social-network, new, website, web, friends, ch...","watch, full-length, moives, online, for, free,..."
country_code,USA,USA,USA,NaN,NaN
state_code,WA,CA,CA,NaN,NaN
city,Seattle,Culver City,San Mateo,NaN,NaN
region,Seattle,Los Angeles,SF Bay,unknown,unknown
first_investment_at,NaN,NaN,NaN,NaN,NaN
last_investment_at,NaN,NaN,NaN,NaN,NaN
investment_rounds,NaN,NaN,NaN,NaN,NaN
invested_companies,NaN,NaN,NaN,NaN,NaN
first_funding_at,2005-10-01,NaN,NaN,NaN,NaN
last_funding_at,2008-05-19,NaN,NaN,NaN,NaN
funding_rounds,3,NaN,NaN,NaN,NaN
funding_total_usd,3.975e+07,NaN,NaN,NaN,NaN
first_milestone_at,2010-09-05,NaN,2003-02-01,NaN,NaN
last_milestone_at,2013-09-18,NaN,2011-09-23,NaN,NaN
milestones,5,NaN,4,NaN,NaN
relationships,17,6,12,NaN,NaN
created_by,initial-importer,initial-importer,initial-importer,NaN,NaN
created_at,2007-05-25 06:51:27,2007-05-31 21:11:51,2007-08-06 23:52:45,2008-08-24 16:51:57,2008-08-24 17:10:34
updated_at,2013-04-13 03:29:00,2008-05-23 23:23:14,2013-11-04 02:09:48,2008-09-06 14:19:18,2008-09-06 14:19:18

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462651 entries, 0 to 462650
Data columns (total 40 columns):
id                     462651 non-null object
entity_type            462651 non-null object
entity_id              462651 non-null int64
parent_id              27715 non-null object
name                   462649 non-null object
normalized_name        462620 non-null object
permalink              462651 non-null object
category_code          123186 non-null object
status                 462651 non-null object
founded_at             100441 non-null object
closed_at              2809 non-null object
domain                 174942 non-null object
homepage_url           174942 non-null object
twitter_username       126089 non-null object
logo_url               208850 non-null object
logo_width             208850 non-null float64
logo_height            208850 non-null float64
short_description      7617 non-null object
description            95005 non-null object
overview               235235 non-null object
tag_list               106496 non-null object
country_code           95043 non-null object
state_code             54760 non-null object
city                   90684 non-null object
region                 462651 non-null object
first_investment_at    16956 non-null object
last_investment_at     16956 non-null object
investment_rounds      16986 non-null float64
invested_companies     16986 non-null float64
first_funding_at       31507 non-null object
last_funding_at        31507 non-null object
funding_rounds         31707 non-null float64
funding_total_usd      27874 non-null float64
first_milestone_at     100358 non-null object
last_milestone_at      100358 non-null object
milestones             100358 non-null float64
relationships          337847 non-null float64
created_by             339486 non-null object
created_at             462591 non-null object
updated_at             462651 non-null object
dtypes: float64(8), int64(1), object(31)
memory usage: 141.2+ MB

In [4]:
list(df.columns)

['id',
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 'normalized_name',
 'permalink',
 'category_code',
 'status',
 'founded_at',
 'closed_at',
 'domain',
 'homepage_url',
 'twitter_username',
 'logo_url',
 'logo_width',
 'logo_height',
 'short_description',
 'description',
 'overview',
 'tag_list',
 'country_code',
 'state_code',
 'city',
 'region',
 'first_investment_at',
 'last_investment_at',
 'investment_rounds',
 'invested_companies',
 'first_funding_at',
 'last_funding_at',
 'funding_rounds',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships',
 'created_by',
 'created_at',
 'updated_at']

In [5]:
removed = [
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 
 'permalink',



 'closed_at',

 'homepage_url',
 'twitter_username',
 'logo_url',
 'logo_width',
 'logo_height',
 'short_description',
 'description',
 

 

 'first_investment_at',
 'last_investment_at',
 'investment_rounds',
 'invested_companies',
 'first_funding_at',
 'last_funding_at',
 'funding_rounds',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships',
 'created_by',
 'created_at',
 'updated_at']
keep = [x for x in list(df.columns) if x not in removed]
df = df[keep]
df.head().T

,0,1,2,3,4
id,c:1,c:10,c:100,c:10000,c:10001
normalized_name,wetpaint,flektor,there,mywebbo,the movie streamer
category_code,web,games_video,games_video,network_hosting,games_video
status,operating,acquired,acquired,operating,operating
founded_at,2005-10-17,NaN,NaN,2008-07-26,2008-07-26
domain,wetpaint-inc.com,flektor.com,there.com,mywebbo.com,themoviestreamer.com
overview,Wetpaint is a technology platform company that...,Flektor is a rich-media mash-up platform that ...,There.com is an online virtual world where any...,"BRAND NEW ONLINE SOCIAL NETWORKING WEBSITE,FOR...",This company shows free movies online on their...
tag_list,"wiki, seattle, elowitz, media-industry, media-...","flektor, photo, video","virtualworld, there, teens","social-network, new, website, web, friends, ch...","watch, full-length, moives, online, for, free,..."
country_code,USA,USA,USA,NaN,NaN
state_code,WA,CA,CA,NaN,NaN
city,Seattle,Culver City,San Mateo,NaN,NaN
region,Seattle,Los Angeles,SF Bay,unknown,unknown

In [7]:
keep

['id',
 'normalized_name',
 'category_code',
 'status',
 'founded_at',
 'domain',
 'overview',
 'tag_list',
 'country_code',
 'state_code',
 'city',
 'region']

In [ ]:
keep