In [6]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline


df = pd.read_csv('../data/cb_objects.csv',parse_dates=['founded_at'])

/Users/cosmakufa/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (3,7,10,17,18,21,22,23,25,26,29,30,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462651 entries, 0 to 462650
Data columns (total 40 columns):
id                     462651 non-null object
entity_type            462651 non-null object
entity_id              462651 non-null int64
parent_id              27715 non-null object
name                   462649 non-null object
normalized_name        462620 non-null object
permalink              462651 non-null object
category_code          123186 non-null object
status                 462651 non-null object
founded_at             100441 non-null datetime64[ns]
closed_at              2809 non-null object
domain                 174942 non-null object
homepage_url           174942 non-null object
twitter_username       126089 non-null object
logo_url               208850 non-null object
logo_width             208850 non-null float64
logo_height            208850 non-null float64
short_description      7617 non-null object
description            95005 non-null object
overview               235235 non-null object
tag_list               106496 non-null object
country_code           95043 non-null object
state_code             54760 non-null object
city                   90684 non-null object
region                 462651 non-null object
first_investment_at    16956 non-null object
last_investment_at     16956 non-null object
investment_rounds      16986 non-null float64
invested_companies     16986 non-null float64
first_funding_at       31507 non-null object
last_funding_at        31507 non-null object
funding_rounds         31707 non-null float64
funding_total_usd      27874 non-null float64
first_milestone_at     100358 non-null object
last_milestone_at      100358 non-null object
milestones             100358 non-null float64
relationships          337847 non-null float64
created_by             339486 non-null object
created_at             462591 non-null object
updated_at             462651 non-null object
dtypes: datetime64[ns](1), float64(8), int64(1), object(30)
memory usage: 141.2+ MB

In [ ]:
list(df.columns)

In [12]:
removed = [
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 
 'permalink',



 'closed_at',

 'homepage_url',
 'twitter_username',
 'logo_url',
 'logo_width',
 'logo_height',
 'short_description',
 'description',
 

 

 'first_investment_at',
 'last_investment_at',
 'investment_rounds',
 'invested_companies',
 'first_funding_at',
 'last_funding_at',
 'funding_rounds',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships',
 'created_by',
 'created_at',
 'updated_at']
keep = [x for x in list(df.columns) if x not in removed]
df = df[keep]
df.head().T

,0,1,2,3,4
id,c:1,c:10,c:100,c:10000,c:10001
normalized_name,wetpaint,flektor,there,mywebbo,the movie streamer
category_code,web,games_video,games_video,network_hosting,games_video
status,operating,acquired,acquired,operating,operating
founded_at,2005-10-17 00:00:00,NaT,NaT,2008-07-26 00:00:00,2008-07-26 00:00:00
domain,wetpaint-inc.com,flektor.com,there.com,mywebbo.com,themoviestreamer.com
overview,Wetpaint is a technology platform company that...,Flektor is a rich-media mash-up platform that ...,There.com is an online virtual world where any...,"BRAND NEW ONLINE SOCIAL NETWORKING WEBSITE,FOR...",This company shows free movies online on their...
tag_list,"wiki, seattle, elowitz, media-industry, media-...","flektor, photo, video","virtualworld, there, teens","social-network, new, website, web, friends, ch...","watch, full-length, moives, online, for, free,..."
country_code,USA,USA,USA,NaN,NaN
state_code,WA,CA,CA,NaN,NaN
city,Seattle,Culver City,San Mateo,NaN,NaN
region,Seattle,Los Angeles,SF Bay,unknown,unknown
years_since,2998 days 00:00:00,NaT,NaT,1985 days 00:00:00,1985 days 00:00:00

In [20]:
df.head().T

,0,1,2,3,4
id,c:1,c:10,c:100,c:10000,c:10001
normalized_name,wetpaint,flektor,there,mywebbo,the movie streamer
category_code,web,games_video,games_video,network_hosting,games_video
status,operating,acquired,acquired,operating,operating
founded_at,2005-10-17 00:00:00,NaT,NaT,2008-07-26 00:00:00,2008-07-26 00:00:00
domain,wetpaint-inc.com,flektor.com,there.com,mywebbo.com,themoviestreamer.com
overview,Wetpaint is a technology platform company that...,Flektor is a rich-media mash-up platform that ...,There.com is an online virtual world where any...,"BRAND NEW ONLINE SOCIAL NETWORKING WEBSITE,FOR...",This company shows free movies online on their...
tag_list,"wiki, seattle, elowitz, media-industry, media-...","flektor, photo, video","virtualworld, there, teens","social-network, new, website, web, friends, ch...","watch, full-length, moives, online, for, free,..."
country_code,USA,USA,USA,NaN,NaN
state_code,WA,CA,CA,NaN,NaN
city,Seattle,Culver City,San Mateo,NaN,NaN
region,Seattle,Los Angeles,SF Bay,unknown,unknown
years_since,2998,NaN,NaN,1985,1985

In [3]:
from sklearn.preprocessing import MultiLabelBinarizer

In [28]:
new_df = df[['founded_at', 'category_code', 'id']]
new_df['years_since'] = new_df['founded_at'].apply(lambda x: (pd.Timestamp('01-01-2014') - x).days)
index = list(new_df['category_code'].value_counts(1)[:20].index)
new_df[index] = pd.get_dummies(df['category_code'])[index]
new_df.drop(columns=['category_code','founded_at'], inplace=True)

/Users/cosmakufa/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/cosmakufa/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2540: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [ ]:
df['tag_list'] = df['tag_list'].apply(lambda x: x.split(", ") if not pd.isna(x) else [])

In [ ]:
mlb = MultiLabelBinarizer()

result =pd.DataFrame(mlb.fit_transform(df['tag_list']),columns=mlb.classes_, index=df.index)

In [ ]:
result.sum()

In [ ]:
df['category_code'].value_counts(1)[:20]

In [ ]:
index = list(df['category_code'].value_counts(1)[:20].index)

In [ ]:
index

In [ ]:
pd.get_dummies(df['category_code'])[index]

In [29]:
new_df.head().T

,0,1,2,3,4
founded_at,2005-10-17 00:00:00,NaT,NaT,2008-07-26 00:00:00,2008-07-26 00:00:00
category_code,web,games_video,games_video,network_hosting,games_video
years_since,2998,NaN,NaN,1985,1985
software,0,0,0,0,0
web,1,0,0,0,0
other,0,0,0,0,0
ecommerce,0,0,0,0,0
games_video,0,1,1,0,1
mobile,0,0,0,0,0
advertising,0,0,0,0,0
consulting,0,0,0,0,0
enterprise,0,0,0,0,0
biotech,0,0,0,0,0
hardware,0,0,0,0,0
education,0,0,0,0,0
public_relations,0,0,0,0,0
network_hosting,0,0,0,1,0
search,0,0,0,0,0
cleantech,0,0,0,0,0
health,0,0,0,0,0
finance,0,0,0,0,0
social,0,0,0,0,0
security,0,0,0,0,0