In [ ]:
import sys
sys.path.append("..")

In [2]:
from src.combining_info import *

In [3]:
import pandas as pd

In [4]:
df_acq = get_acquisitions_df()
df_acq.head(1).T

                                      0
acquisition_id                        1
acquired_object_id                 c:10
price_amount                      2e+07
acquired_at         2007-05-30 00:00:00

In [5]:
df_round = get_funding_rounds_df()
df_round.head(1).T

                                      0
funding_round_id                      1
object_id                           c:4
funded_at           2006-12-01 00:00:00
funding_round_code                    b
raised_amount_usd               8.5e+06
participants                          2
is_first_round                        0

In [6]:
df_fund = get_funds_df()
df_fund.info()

NameError: name 'df_funds' is not defined