In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline


df = pd.read_csv('../data/cb_funding_rounds.csv')

In [3]:
df.head().T

,0,1,2,3,4
id,1,2,3,4,5
funding_round_id,1,2,3,4,5
object_id,c:4,c:5,c:5,c:5,c:7299
funded_at,2006-12-01,2004-09-01,2005-05-01,2006-04-01,2006-05-01
funding_round_type,series-b,angel,series-a,series-b,series-b
funding_round_code,b,angel,a,b,b
raised_amount_usd,8.5e+06,500000,1.27e+07,2.75e+07,1.05e+07
raised_amount,8.5e+06,500000,1.27e+07,2.75e+07,1.05e+07
raised_currency_code,USD,USD,USD,USD,USD
pre_money_valuation_usd,NaN,NaN,1.15e+08,5.25e+08,NaN
pre_money_valuation,NaN,NaN,1.15e+08,5.25e+08,NaN
pre_money_currency_code,NaN,USD,USD,USD,NaN
post_money_valuation_usd,NaN,NaN,NaN,NaN,NaN
post_money_valuation,NaN,NaN,NaN,NaN,NaN
post_money_currency_code,NaN,USD,USD,USD,NaN
participants,2,2,3,4,2
is_first_round,0,0,0,0,0
is_last_round,0,1,0,0,0
source_url,http://www.marketingvox.com/archives/2006/12/2...,NaN,http://www.techcrunch.com/2007/11/02/jim-breye...,http://www.facebook.com/press/info.php?factsheet,http://www.techcrunch.com/2006/05/14/photobuck...
source_description,NaN,NaN,Jim Breyer: Extra $500 Million Round For Faceb...,Facebook Funding,PhotoBucket Closes $10.5M From Trinity Ventures
created_by,initial-importer,initial-importer,initial-importer,initial-importer,initial-importer
created_at,2007-07-04 04:52:57,2007-05-27 06:08:18,2007-05-27 06:09:10,2007-05-27 06:09:36,2007-05-29 11:05:59
updated_at,2008-02-27 23:14:29,2013-06-28 20:07:23,2013-06-28 20:07:23,2013-06-28 20:07:24,2008-04-16 17:09:12

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52928 entries, 0 to 52927
Data columns (total 23 columns):
id                          52928 non-null int64
funding_round_id            52928 non-null int64
object_id                   52928 non-null object
funded_at                   52680 non-null object
funding_round_type          52928 non-null object
funding_round_code          52928 non-null object
raised_amount_usd           46928 non-null float64
raised_amount               47290 non-null float64
raised_currency_code        49862 non-null object
pre_money_valuation_usd     42 non-null float64
pre_money_valuation         42 non-null float64
pre_money_currency_code     26883 non-null object
post_money_valuation_usd    1209 non-null float64
post_money_valuation        1294 non-null float64
post_money_currency_code    30448 non-null object
participants                52928 non-null int64
is_first_round              52928 non-null int64
is_last_round               52928 non-null int64
source_url                  40382 non-null object
source_description          43439 non-null object
created_by                  48291 non-null object
created_at                  52928 non-null object
updated_at                  52928 non-null object
dtypes: float64(6), int64(5), object(12)
memory usage: 9.3+ MB

In [5]:
df['raised_currency_code'].unique()

array(['USD', nan, 'EUR', 'CAD', 'GBP', 'JPY', 'SEK', 'NIS', 'AUD'],
      dtype=object)

In [6]:
list(df.columns)

['id',
 'funding_round_id',
 'object_id',
 'funded_at',
 'funding_round_type',
 'funding_round_code',
 'raised_amount_usd',
 'raised_amount',
 'raised_currency_code',
 'pre_money_valuation_usd',
 'pre_money_valuation',
 'pre_money_currency_code',
 'post_money_valuation_usd',
 'post_money_valuation',
 'post_money_currency_code',
 'participants',
 'is_first_round',
 'is_last_round',
 'source_url',
 'source_description',
 'created_by',
 'created_at',
 'updated_at']

In [7]:
removed = ['id',
 


 'funding_round_type',


 'raised_amount',
 'raised_currency_code',
 'pre_money_valuation_usd',
 'pre_money_valuation',
 'pre_money_currency_code',
 'post_money_valuation_usd',
 'post_money_valuation',
 'post_money_currency_code',


 'is_last_round',
 'source_url',
 'source_description',
 'created_by',
 'created_at',
 'updated_at']
keep = [x for x in list(df.columns) if x not in removed]
df = df[keep]
df.head().T

                             0           1           2           3           4
funding_round_id             1           2           3           4           5
object_id                  c:4         c:5         c:5         c:5      c:7299
funded_at           2006-12-01  2004-09-01  2005-05-01  2006-04-01  2006-05-01
funding_round_code           b       angel           a           b           b
raised_amount_usd      8.5e+06      500000    1.27e+07    2.75e+07    1.05e+07
participants                 2           2           3           4           2
is_first_round               0           0           0           0           0

In [8]:
keep

['funding_round_id',
 'object_id',
 'funded_at',
 'funding_round_code',
 'raised_amount_usd',
 'participants',
 'is_first_round']

In [9]:
def get_milestones(x, df):
    date = x['funded_at']
    object_id = x['object_id']
    return len(df[(df['milestone_at'] < date) & (df['object_id'] == object_id)])

In [10]:
def get_relationships(x, df):
    date = x['funded_at']
    object_id = x['object_id']
    return len(df[(df['start_at'] < date) & (df['relationship_object_id'] == object_id)])

In [ ]:
df['milestones_so_far'] = df.apply(get_milestones, df=df_miles, axis=1)
df['relionships_so_far'] = df.apply(get_relationships, df=df_relate, axis=1)